/* font-family: 'Mali', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive; */

body {
    background-color: #a09cb0;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.content {
    width: 800px;
    margin: 50px auto;
    height: 400px;
    padding: 60px;
    background-color: #B3C2E2;
    text-align: center;
}

.input_box {
    font-size: 18px;
    width: 900px;
    margin: 5px 30px 30px 0;
    height: 25px;
    padding: 12px 6px;
    box-sizing: border-box;
    border: 2px solid #ABDAE1;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    color: #907AD6
}

.survey-option {
    width: 100px;
    margin: 5px 30px 30px 0;
    height: 25px;
    padding: 12px 6px;
    box-sizing: border-box;
    border: 2px solid ##ABDAE1;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    color: #907AD6
}

.question {
    margin: 20px auto;

}

.intro {
    text-align: center;
    line-height: 48px;
}

h1 {
    margin: 80px auto;
    text-align: center;
    font-size: 36px;
    font-family:'Mali', cursive;
}

h2 {
    font-size: 12px;
    font-family: 'Pacifico', cursive;
    color: #907AD6;
}

h4 {font-size: 24px;
    font-family: 'Pacifico', cursive;
    color: #907AD6;
}

h3 {
    font-size: 24px;
    font-family:'Mali', cursive;
    color: #E5E6E8;
}

.survey {
    width: 960px;
    margin: 100px auto;
    height: 100%;
    padding: 60px;
    background-color: #B3C2E2;
}

button {
    font-family:'Pacifico', cursive;
    background-color: #ABDAE1;
    border: none;
    color:#987D7C;
    padding:10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    margin: 60px auto;
}

button:hover {
    background-color:#987D7C;
    border: none;
    color:#ABDAE1;
}
   
    